<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74575204-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-74575204-1');
    </script>
    <meta charset="UTF-8">
    <meta name="author" content="Jinseo Park">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style type="text/css">
        body {
            margin: 0;
            font-family: Helvetica, sans-serif;
            padding: 0 2rem;
            color: #444;
        }

        .markdown-body {
            font-family: inherit !important;
        }

        .site {
            width: 100%;
            max-width: 40rem;
            margin: 3rem auto;
        }

        .primary {
            font-weight: bold;
        }

        .secondary {
            color: #888;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            color: #444;
        }

        a:hover > * {
            color: #444;
        }

        header {
            margin-bottom: 2rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .name {
            color: #b71c1c !important;
        }

        section {
            margin-bottom: 2rem;
        }

        .row {
            margin-bottom: 1rem;
        }

        .item {
            margin-bottom: .5rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .category {
            text-transform: capitalize;
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
</head>
<body>
<div class="site">
    <header>
        <a class="primary name" href="/">
            Jinseo Park
        </a>
        <div>
            <a class="secondary" href="http://github.com/64json">github</a>
            &nbsp;
            <a class="secondary" href="https://www.linkedin.com/in/jinseo-park/">linkedin</a>
        </div>
    </header>
    <% if (page === 'post') { %>
        <article>
            <div class="primary row"><%= post.title %></div>
            <div class="row">
                <a class="secondary" href="<%= post.html_url %>">
                    <%= post.created_at %>
                </a>
            </div>
            <div class="markdown-body">
                <%- post.body %>
            </div>
        </article>
    <% } %>
    <% if (page === 'main') { %>
        <% for(const category of categories){ %>
            <section>
                <div class="primary row category"><%= category %></div>
                <% for (const post of posts[category]) { %>
                    <a class="item" href="/<%= category %>/<%= post.id %>">
                        <div>
                            <%= post.title %>
                        </div>
                        <div class="secondary">
                            <%= post.created_at %>
                        </div>
                    </a>
                <% } %>
            </section>
        <% } %>
    <% } %>
</div>
</body>
</html>
